/* ----------------------*/
/* - CARD Text - Page a  */
/* ----------------------*/
.text-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
