<!-- START COL Container -->
<div class="row mb-5">

  <!-- START COL MAIN -->
  <div class="col col-md-8">


    <!-- START COL CARD -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

      <div *ngFor="let movie of movies"
        class="me-auto ms-auto col-10">
        <div class="card img-fluid">
          <img src="./assets/images/movies-portadas/ready-player-one-online.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text text-hidden">{{ movie.imdb_id }}</p>
          </div>
        </div>
      </div>
      <!--
      <div class="me-auto ms-auto col-10">
        <div class="card img-fluid">
          <img src="./assets/images/movies-portadas/ready-player-one-online.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ready Player One: Comienza el Juego</h5>
            <p class="card-text text-hidden">Ready, Player, One ocurre en el año 2044, cuando la humanidad se
              encuentra en medio
              de una crisis sin precedentes,
              escasos son los recursos para subsistir dentro de la sobrepoblación, las personas son obligadas a
              sobrevivir como les
              sea posible, viviendo en construcciones verticales, apiladas y reducidas. Wade Watts es un adolescente
              que vive en una
              de esas torres, con su tía, destinadas para gente pobre, quien, como al resto del mundo, prefiere
              evadirse y refugiarse
              en el popular juego de realidad virtual llamado OASIS, una utopía donde todo es posible. Cuando el
              creador del
              videojuego muere, deja indicaciones sobre la existencia de un easter egg, un secreto bien escondido,
              prometiendo su
              vasta fortuna a aquel jugador que lo encuentre. Wade, entonces, tendrá que competir contra toda la
              comunidad para
              encontrar el secreto y dar un cambio radical a su vida. Pero la batalla se extenderá en el mundo real,
              contra personas y
              corporaciones que desean obtener el gran premio.</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card img-fluid">
          <img src=" ./assets/images/movies-portadas/el-proyecto-adam.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">El Proyecto Adam</h5>
            <p class="card-text text-hidden">Sigue la historia de Adam Reed, un joven de 13 años que todavía está
              afligido por la repentina muerte de su padre, un
              año antes y quien descubre, una noche cualquiera, a un piloto herido escondido en su garaje. Para su
              sorpresa, el
              pequeño descubre que el piloto es él mismo, llegando del futuro para aventurarse a encontrar a su
              padre, rescatarlo y,
              de paso, salvar a la humanidad. El problema es que el Adam niño y el Adam del futuro no se toleran,
              pero deben aprender
              a hacerlo para que el mundo tenga una oportunidad para sobrevivir..</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card img-fluid">
          <img src="./assets/images/movies-portadas/spider-man-2021.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Spider-Man: Sin Camino a Casa</h5>
            <p class="card-text text-hidden">La vida y la reputación de Peter Parker están en peligro cuando
              Mysterio ha revelado el secreto de la identidad de
              Spider-Man al mundo. Tratando de rectificar la situación, Peter recurre a Stephen Strange en busca de
              ayuda, pero las
              cosas pronto se vuelven mucho más peligrosas..</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card">
          <img src="./assets/images/movies-portadas/matrix-resurrections.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Matrix Resurrecciones</h5>
            <p class="card-text text-hidden">Veinte años después de los eventos ocurridos en Matrix Revolutions, Neo
              vive una vida normal como Thomas A. Anderson en
              la ciudad de San Francisco, pero solo ha logrado la tranquilidad, gracias a la ayuda de un terapeuta
              que le receta
              pastillas azules que contrarrestan las cosas extrañas y antinaturales que ocasionalmente vislumbra.
              También mantiene una
              extraña atracción a una mujer que parece ser Trinity , pero ninguno de los dos puede recordar el
              pasado. Sin embargo,
              cuando un nuevo Morpheus la da una nueva oportunidad para elegir la píldora roja, su mente vuelve a
              comprender el mundo
              de Matrix que, con el paso de los años, se vuelto se ha vuelto un lugar mucho más peligroso tras la
              infección de los
              Smith. Ahora será trabajo de Neo volver a reunirse con un grupo de rebeldes para luchar contra un
              nuevo enemigo.De la
              mano de la cineasta Lana Wachowski, ‘Matrix: Resurrecciones’ es la esperada cuarta película de la
              innovadora franquicia
              que redefinió el género de la ciencia ficción.</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card">
          <img src="./assets/images/movies-portadas/shang-shi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shang-Chi y la leyenda de los Diez Anillos</h5>
            <p class="card-text text-hidden">Es el núevo súper héroe de Marvel, un maestro de las artes marciales y
              el misticismo que se enfrentará a los diez
              anillos anteriormente presentados como un grupo terrorista de medio oriente dentro del universo
              cinematográfico de
              Marvel. A su vez, también se hace tangible la parición del Mandarín, personaje que ya había sido
              mencionado también,
              hábil en el manejo de la magia. En esta nueva aventura de súper héroes.</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card ">
          <img src="./assets/images/movies-portadas/snake-eyes.jpg" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Snake Eyes: El Origen</h5>
            <p class="card-text text-hidden">Es el nombre en clave de un miembro del equipo G.I. Joe. Es el comando
              original del equipo, y gran parte de su historia
              e información, incluido su nombre real, lugar de nacimiento y número de servicio, han permanecido
              «CLASIFICADOS» en
              todas las representaciones de su origen.</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card">
          <img src="./assets/images/movies-portadas/the-witcher-la-pesadilla-del-lobo.jpg" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">The Witcher: La Pesadilla del Lobo</h5>
            <p class="card-text text-hidden">The Witcher sigue al sombrío Geralt de Rivia, la ruina de las bestias
              sobrenaturales, en una historia de los destinos
              entrelazados en el vasto mundo del Continente, donde humanos, elfos, brujos, gnomos y monstruos luchan
              por sobrevivir y
              prosperar, y donde el bien y el mal no se identifican fácilmente.</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card">
          <img src="./assets/images/movies-portadas/Mortal-Kombat-Legends-Battle-of-the-Realms.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mortal Kombat Legends: Battle of the Realms</h5>
            <p class="card-text text-hidden">La película recoge justo después de la venganza de Escorpión donde los
              héroes son atacados por Shao Kahn, que obligará a
              Raiden y su grupo de guerreros en un acuerdo para competir en un Kombat Mortal final que determinará
              el destino de los
              reinos. Esto obliga a los chicos buenos a viajar a Outworld para defender el Earthrealm mientras
              Escorpión viaja para
              encontrar el Kamidogu (una reliquia mística hecha por los Dioses Todopoderosos) antes de que se
              utilice para traer de
              vuelta al misterioso Ser Único, que destruiría el universo.</p>
          </div>
        </div>
      </div>

      <div class="me-auto ms-auto col-10">
        <div class="card">
          <img src="./assets/images/movies-portadas/sonic.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sonic: La Película</h5>
            <p class="card-text text-hidden">Es una cinta japonesa basada en la saga de videojuegos homónima. Este
              personaje llegó al mundo de los videojuegos en
              1991 de la mano de SEGA. Hasta la fecha, la compañía ha vendido más de 360 millones de copias de los
              juegos
              protagonizados por el erizo azul, tanto para consolas, tabletas y plataformas móviles. Se trata de una
              película híbrida
              de Paramount Pictures entre live-action y CGI. En esta película, el sheriff de la pequeña ciudad rural
              de Green Hills,
              Tom Wachowski, viaja a San Francisco en su esfuerzo por ayudar a Sonic, un erizo antropomórfico azul,
              a luchar contra el
              malvado Dr. Eggman. Sonic tratará de recuperar sus anillos mientras el gobierno trata de capturarlo.
            </p>
          </div>
        </div>
      </div> -->

    </div>
    <!-- END COL CARD -->

  </div>
  <!-- END COL MAIN -->

  <!-- START COL ASIDE -->
  <div class="col-4 d-none  d-md-block col-md-4">
    <div class="row gy-5">
      <img src="./assets/images/p-2.jpg" alt="">
      <img src="./assets/images/p-3.jpg" alt="">
      <img src="./assets/images/p-4.jpg" alt="">
    </div>
  </div>
  <!-- END COL ASIDE -->

</div>
<!-- END COL Container -->
