<!-- START COL Container -->
<div class="row mt-4 mb-5">

  <!-- START COL MAIN -->
  <div class="col col-md-8">

    <div class="col col-3 m-auto d-flex justify-content-center align-items-center bg-info text-light py-2 rounded"
      *ngIf="movieDetails.length == 0; else divMovies">
      <div
        class="spinner-border text-light" role="status"
        style="width: 3rem; height: 3rem;">
      </div>
      <span class="ms-4">Loading...</span>
    </div>


    <!-- START COL CARD -->
    <ng-template #divMovies>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

        <div *ngFor="let movie of movieDetails"
          class="me-auto ms-auto col-10">
          <div class="card img-fluid">
            <img [src]=" movie.results.image_url" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">{{ movie.results.title }}</h5>
              <h5 class="card-title">{{ movie.results.release | date: 'MMM d, y' }}</h5>
              <h5 class="card-title" *ngIf="movie.results.release == null">Fecha Desconocida</h5>
              <p class="card-text text-hidden">{{ movie.results.description }}</p>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
    <!-- END COL CARD -->

  </div>
  <!-- END COL MAIN -->

  <!-- START COL ASIDE -->
  <div class="col-4 d-none d-md-block col-md-4">
    <div class="row gy-5 col-11 gy-5 mx-auto">
      <img src="./../../../../assets/images/p-2.jpg" alt="Publicidad">
      <img src="./../../../../assets/images/p-3.jpg" alt="Publicidad">
      <img src="./../../../../assets/images/p-4.jpg" alt="Publicidad">
    </div>
  </div>
  <!-- END COL ASIDE -->

</div>
<!-- END COL Container -->
